/*
    Row Styles
*/

/*row top styles*/

.flex-row--tl {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row--tc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-row--tr {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

/*row center styles*/

.flex-row--cl {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-row--cc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row--cr {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/*row bottom styles*/

.flex-row--bl {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.flex-row--bc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.flex-row--br {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

/*
    Column Styles
*/

/*column top styles*/

.flex-col--tl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-col--tc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-col--tr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

/*column center styles*/

.flex-col--cl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-col--cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-col--cr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/*column bottom styles*/

.flex-col--bl {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-col--bc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.flex-col--br {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/*
    Reverse Row Styles
*/

/*row top styles*/

.flex-rrow--tl {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-rrow--tc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
}

.flex-rrow--tr {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}

/*row reverse center styles*/

.flex-rrow--cl {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.flex-rrow--cc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.flex-rrow--cr {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

/*row reverse bottom styles*/

.flex-rrow--bl {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-rrow--bc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

.flex-rrow--br {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}

/*
    Reverse Column Styles
*/

/*reverse column top styles*/

.flex-rcol--tl {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-rcol--tc {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}

.flex-rcol--tr {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

/*column center styles*/

.flex-rcol--cl {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
}

.flex-rcol--cc {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.flex-rcol--cr {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
}

/*column bottom styles*/

.flex-rcol--bl {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-rcol--bc {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.flex-rcol--br {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}

/*Extra Styles*/

.flex--space-between {
    justify-content: space-between;
}

.flex--space-around {
    justify-content: space-around;
}

.flex--space-evenly {
    justify-content: space-evenly;
}

.flex--baseline {
    align-items: baseline;
}

.flex--stretch {
    align-items: stretch;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--wrap-reverse {
    flex-wrap: wrap-reverse;
}